<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>plant store</title>
    <style>
        nav {
            font-weight: bold;
            font-style: italic;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
            margin: 40px;
        }

        #container {
            margin: 30px;
            padding: 20px;
        }

        #form {
            display: flex;
            flex-direction: row;
        }

        p {
            margin-left: 26px;
            font-size: xx-large;
        }

        img {
            max-width: 10%;
            max-height: 10%;
            margin: 20px;
        }

        input[type=checkbox] {
            position: relative;
            cursor: pointer;
        }

        input[type=checkbox]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            border: 2px solid #555555;
            border-radius: 3px;
            background-color: white;
        }

        input[type=checkbox]:checked:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2px;
            left: 6px;
        }

        label {
            position: relative;
            font-size: xx-large;
            margin-left: 15px;
        }

        #button-pair {
            max-height: 100%;
            max-width: 100%;
            margin-left: 25px;
        }

        #add-button {
            background-color: green;
            color: white;
            border: 30% solid;
            font-size: xx-large;
        }

        #rzp-button1 {
            background-color: dodgerblue;
            color: white;
            border: 30% solid;
            font-size: xx-large;
        }
    </style>
</head>

<body>
    <nav>
        <h1>The Plants Store</h1>
    </nav>
    <main>
        <div id="container">
            <form>
                <div id="form">
                    <img src="https://images.unsplash.com/photo-1579621970343-21c491b3f363?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"
                        alt="MoneyPlant" />
                    <input type="checkbox" id="Money" name="Plant" value=50>
                    <label for="name"> Money Plant: 50 Rs/-</label>
                    <img src="https://images.unsplash.com/photo-1593482892540-73c9199d8949?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"
                        alt="SnakePlant" />
                    <input type="checkbox" id="Snake" name="Plant" value=200>
                    <label for="name"> Snake Plant: 200 Rs/-</label>
                    <img src="https://images.unsplash.com/photo-1600680063181-b24b5298fd06?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8amFkZSUyMHBsYW50fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                        alt="JadePlant" />
                    <input type="checkbox" id="Jade" name="Plant" value=350>
                    <label for="name"> Jade Plant: 350 Rs/-</label>
                    <img src="https://images.unsplash.com/photo-1622673037877-18ee56d1f990?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"
                        alt="ZZPlant" />
                    <input type="checkbox" id="ZZ" name="Plant" value=250>
                    <label for="name"> ZZ Plant: 250 Rs/-</label>
                    <img src="https://images.unsplash.com/photo-1505079403222-b5bbf1484f19?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"
                        alt="TempleTree" />
                    <input type="checkbox" id="Temple" name="Plant" value=1500>
                    <label for="name"> Temple Tree: 1500 Rs/- </label>
                </div>
                <button id="add-button">Add to Cart</button>
                <button id="rzp-button1">Buy</button>
                <p id="demo"></p>
            </form>
        </div>
    </main>
</body>
<script>
    const Money = document.getElementById('Money')
    const Snake = document.getElementById('Snake');
    const Jade = document.getElementById('Jade');
    const ZZ = document.getElementById('ZZ');
    const Temple = document.getElementById('Temple');
    const add_button = document.getElementById('add-button')
    const buy_button = document.getElementById("rzp-button1")
    const form = document.getElementById('form')
    const demo = document.getElementById('demo');

    let userAmount = [];
    let cart = [];
    let total;
    let rzp1;
    let rupees = 0;
    let raw;
    let requestOptions;

    form.addEventListener("change", function (e) {
        let x = parseInt(e.target.value);
        cart.push(x);
    })
    add_button.addEventListener("click", function (e) {
        e.preventDefault();
        if (cart.length === 0) {
            demo.innerHTML = `Added 0 item please add items`
        }
        total = cart.reduce((prev, curr) => prev + curr)
        demo.innerHTML = `Added ${cart.length} items in cart Total in rupees: ${total}/-`
    })
    const PostPay = async (total) => {
        await fetch("/api/v1/plant_store/order", {
            method: 'POST',
            body: JSON.stringify(total)
        })
            .then(response => response.json())
            .then(result => {
                console.log(result)
                document.getElementById("rzp-button1").onclick = (e) => {
                    options = {
                        "key": "rzp_test_D4p8fB9jd0NCbD",
                        "amount": total,
                        "description": "Transaction",
                        "order_id": result.id,
                        "callback_url": "/api/v1/plant_store/order_completed",
                    },
                        rzp1 = new Razorpay(options);
                        e.preventDefault();
                    rzp1.open()
                    rzp1.on('payment.failed', function (response) {
                        alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);
                    })
                }
            }).catch(error => console.error(error))
    }
    PostPay(total);
</script>

</html>